[

 ;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
 ;; ## Bidding

 {:db/id #db/id[:db.part/user -1000001]
  :bid/name :bid.name/pass
  :bid/score 0}
 {:db/id #db/id[:db.part/user -1000002]
  :bid/name :bid.name/six-spades
  :bid/score 40}
 {:db/id #db/id[:db.part/user -1000003]
  :bid/name :bid.name/six-clubs
  :bid/score 60}
 {:db/id #db/id[:db.part/user -1000004]
  :bid/name :bid.name/six-diamonds
  :bid/score 80}
 {:db/id #db/id[:db.part/user -1000005]
  :bid/name :bid.name/six-hearts
  :bid/score 100}
 {:db/id #db/id[:db.part/user -1000006]
  :bid/name :bid.name/six-no-trumps
  :bid/score 120}

 {:db/id #db/id[:db.part/user -1000007]
  :bid/name :bid.name/seven-spades
  :bid/score 140}
 {:db/id #db/id[:db.part/user -1000008]
  :bid/name :bid.name/seven-clubs
  :bid/score 160}
 {:db/id #db/id[:db.part/user -1000009]
  :bid/name :bid.name/seven-diamonds
  :bid/score 180}
 {:db/id #db/id[:db.part/user -1000010]
  :bid/name :bid.name/seven-hearts
  :bid/score 200}
 {:db/id #db/id[:db.part/user -1000011]
  :bid/name :bid.name/seven-no-trumps
  :bid/score 220}

 {:db/id #db/id[:db.part/user -1000012]
  :bid/name :bid.name/eight-spades
  :bid/score 240}
 {:db/id #db/id[:db.part/user -1000013]
  :bid/name :bid.name/eight-clubs
  :bid/score 260}
 {:db/id #db/id[:db.part/user -1000014]
  :bid/name :bid.name/eight-diamonds
  :bid/score 280}
 {:db/id #db/id[:db.part/user -1000015]
  :bid/name :bid.name/eight-hearts
  :bid/score 300}
 {:db/id #db/id[:db.part/user -1000016]
  :bid/name :bid.name/eight-no-trumps
  :bid/score 320}

 {:db/id #db/id[:db.part/user -1000017]
  :bid/name :bid.name/nine-spades
  :bid/score 340}
 {:db/id #db/id[:db.part/user -1000018]
  :bid/name :bid.name/nine-clubs
  :bid/score 360}
 {:db/id #db/id[:db.part/user -1000019]
  :bid/name :bid.name/nine-diamonds
  :bid/score 380}
 {:db/id #db/id[:db.part/user -1000020]
  :bid/name :bid.name/nine-hearts
  :bid/score 400}
 {:db/id #db/id[:db.part/user -1000021]
  :bid/name :bid.name/nine-no-trumps
  :bid/score 420}

 {:db/id #db/id[:db.part/user -1000012]
  :bid/name :bid.name/ten-spades
  :bid/score 440}
 {:db/id #db/id[:db.part/user -1000023]
  :bid/name :bid.name/ten-clubs
  :bid/score 460}
 {:db/id #db/id[:db.part/user -1000024]
  :bid/name :bid.name/ten-diamonds
  :bid/score 480}
 {:db/id #db/id[:db.part/user -1000025]
  :bid/name :bid.name/ten-hearts
  :bid/score 500}
 {:db/id #db/id[:db.part/user -1000026]
  :bid/name :bid.name/ten-no-trumps
  :bid/score 520}

 {:db/id #db/id[:db.part/user -1000027]
  :bid/name :bid.name/misere
  :bid/score 250}
 {:db/id #db/id[:db.part/user -1000028]
  :bid/name :bid.name/open-misere
  :bid/score 500}
 ]
